body{
    background-color: rgb(254, 250, 250);
}
/* .btnc {
            background-color: indianred;
            padding: 5px;
            border: 0.5px solid slategrey;
            cursor: pointer;
            font-size: 15px;
            border-radius: 3px;
        } */
button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 0.8em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    /* color: black; */
    /* font-style: normal; */
}

/* .btnc :hover {
            /* background-color: seagreen; 
            color: seashell;
        } */

.container {
    border: 1.5px solid rgb(112, 134, 141);
    background-color: rgb(220, 225, 225);
    border-radius: 10px;
    font-size: 1.4rem;
    width: 300px;
    height: 500px;
    margin: 2em auto;
    padding: 1em;
}

.box {
    margin: 1em 1em;
    padding: 2px;
}

#bmic {
    margin: 0.3em auto;
    padding: 2px;
    border: 1px solid rgb(77, 74, 74);
    height: 33px;
    width: 105%;
    background-color: rgb(247, 243, 237);
    line-height: 1.5;
}

p {
    text-align: justify;
}

.data {
    display: flex;
    /* grid-template-columns: 1.2fr 2fr; */
    margin: 2.5em;
}

.table {
    margin: 30px;
    padding: 15px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.2rem;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    /* margin: 10px 5px; */
    padding: 5px 10px;
    background-color: rgb(240, 180, 83);
}

th {
    background-color: rgb(240, 74, 24);

}

/* td:hover{
transform: scale(1.2);
} */

.ben {
    /* border: 2px solid black; */
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 0px 40px 0px 0px;
    padding: 14px 30px 1px 0px;
    text-align: justify;
}
@media only screen and (max-width: 900px){
    p {
        text-align: justify;
    }
    
    .cal {
        display: grid;
        grid-template-columns: 0.88fr 2.22fr;
    }
    
    .table {
        margin: 5em auto;
        padding: 1em;
        width: 100%;
        text-align: center;
        border: 2px solid black;
        border-radius: 20px;
        font-size: 1.2rem;
    }
    
    table,
    th,
    td {
        border: 2px solid black;
        border-collapse: collapse;
        /* margin: 10px 5px; */
        padding: 5px 10px;
        background-color: rgb(240, 180, 83);
    }
    
    th {
        background-color: rgb(240, 74, 24);
    
    }
    
    /* td:hover{
    transform: scale(1.2);
    } */
    /* .data {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        margin: 2em;
    }
     */
    .ben {
        /* border: 2px solid black; */
        border-radius: 20px;
        font-size: 1.2rem;
        margin: 0px 40px 0px 0px;
        padding: 14px 30px 1px 0px;
        text-align: justify;
    }
}

footer {
    text-align: center;
    background-color: rgba(129, 127, 126, 0.611);
}